# Ignore virtual environment
env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

.streamlit/

*.zip
uploaded_folder/